---
export interface Props {
  id: number;
  name: string;
  price: number;
  image: {
    src: string;
    alt: string;
  };
}

const { name, price, image, id } = Astro.props;
---

<li>
  <img src={image.src} alt={image.alt} />
  <a href={`/products/${id}`}>{name}</a>
  <p><span>{price.toFixed(2)}</span> USD</p>
</li>
<style>
  img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  a {
    font-size: 1rem;
    font-weight: 600;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: relative;
  }
  li a::before {
    position: absolute;
    content: "";
    inset: 0;
  }
</style>
