---
interface Props {
  id: number;
  name: string;
  price: number;
  image: {
    src: string;
    alt: string;
  };
}

const { name, price, image, id } = Astro.props;
---

<li class="flex flex-col gap-1 relative">
  <img src={image.src} alt={image.alt} class="w-full h-auto mb-2 rounded-md" />
  <a class="font-medium" href={`/products/${id}`}>{name}</a>
  <p><span>{price.toFixed(2)}</span> USD</p>
</li>
<style>
  li a::before {
    position: absolute;
    content: "";
    inset: 0;
  }
</style>
