---
import Layout from "../../layouts/Layout.astro";
import products from "../../data/products.json";
import { AddToCart } from "../../components/AddToCart";
import { ProductReview } from "../../components/ProductReview";

export function getStaticPaths() {
  const pages = products.map((product) => ({
    params: { id: product.id },
    props: { product },
  }));

  return pages;
}

const { product } = Astro.props;
---

<Layout title={product.title}>
  <article class="flex flex-col sm:flex-row sm:gap-8">
    <img
      class="w-full mb-4 sm:mb-0 rounded-md"
      src={product.image}
      alt={product.title}
    />
    <div class="flex flex-col gap-4 w-full">
      <h1 class="text-xl font-semibold sm:text-3xl">{product.title}</h1>
      <p>$ {product.price.toFixed(2)}</p>
      <AddToCart
        client:load
        product={{
          id: product.id,
          name: product.title,
          price: product.price,
          image: product.image,
        }}
      />
      <p>{product.description}</p>
      <div class="flex flex-col sm:flex-row gap-2 sm:items-center">
        <p>Rate this product:</p>
        <ProductReview client:visible />
      </div>
    </div>
  </article>
</Layout>
